body{
  background-color: rgba(247, 243, 223, 0.795);
}

nav {
  background-color: rgb(243, 238, 212);
  padding: 10px;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.NavTitle {
  font-size: 35px;
  margin-right: 10px;
  font-family:'Lucida Console';
  color: #535353;
  text-decoration: none;
}

.NavBarOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.NavBarOptionsButton{
  margin-right: 100px;
  padding: 8px 16px;
  color: #535353c5;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 25px;
  text-decoration: none;
}

.NavBarOptionsButton:hover{
  text-decoration: underline;
}

.NavBarOptionsButtonActive{
  margin-right: 100px;
  padding: 8px 16px;
  color: #1d1d1d;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 25px;
  text-decoration: underline;
}

.searchIcon{
  max-width: 100%;
  width: 45px;
  height: 45px;
}

.searchIcon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.cartIcon{
  max-width: 100%;
  width: 35px;
  height: 35px;
  margin-right: 200px;
}

.cartIcon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.BodyTitle{
  margin-left: 15px;
  color: #353535c0;
}

.totalQuantity{
  border-radius: 4px;
  background-color: #eb2525c0;
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: #f5f5f5;
}

.ProductAdded{
  font-size: 20px;
  color: #36ac12;
  font-weight: bolder;
}