.Counter{
    margin-bottom: 15px;
}

.Controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.CounterButton{
    padding: 10px;
    background-color: #f7f2f2;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; 
    margin-bottom: 10px;
}

.CounterButton:hover {
    text-decoration: none;
    background-color: #dddbdb;
}

.CardButton{
    font-size: 20px;
    width: 60%;
    padding: 10px;
    background-color: #e6e6e6;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; 
    margin-top: 5px;
    margin-left: 20%;
    transition: background-color 0.3s ease;
}

.CardButton:hover {
    text-decoration: none;
    background-color: #cecece;
}